

body{
    margin: 0;
    padding: 0;
    position: absolute;
    /*touch-action: none;*/
    overflow: hidden;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}

#initialAnimation{
    position: absolute;
    animation:intro 4s linear 1;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}


@keyframes intro {
    0%{
        background-color: rgba(0, 0, 0,1)

    }
    50%{
        background-color: rgba(0, 0, 0,1)

    }
    99%{
        background-color: rgba(0, 0, 0,0);

    }
    100%{
        display: none;

    }
}

@keyframes introText {
    0%{
        right:50%;
        bottom: 50%;
        transform: translateX(50%) translateY(50%);
    }
    50%{
        transform: translateX(50%) translateY(50%);
        right: 50%;
        bottom:50%
    }
    100%{

    }
}
@keyframes introSvgSize {
    0%{
        width: 0;
    }
    50%{
        width: 15vw;
    }
    100%{

    }
}


@keyframes animateBg {
    0% {background-position: 0 0;}
    100% { background-position: 87% 0; }
}


a{
    z-index: inherit;
    color: inherit;
    text-decoration: inherit;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;
    /*background-color: #d1d3e7;*/
    background-size: 400% 100%;
    animation: animateBg 6s  linear infinite;
    /*background-image: linear-gradient(90deg, #e66465, #9198e5, #e66465, #9198e5);*/
    background-image: linear-gradient(90deg, #410001, #00062d, #410001, #00062d);
    text-align: center;
}

#article{
    position: absolute;
    right: 0vw;
    top: 0;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    width: var(--bigArticleWidth);
    height: 100vh;
    opacity: 0;
    background-color: var(--white);

    box-sizing: border-box;
    text-align: left;
    transition-duration: 1s;
    color: black;
    z-index: 5;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: calc(0.8vh + 0.8vw);
    border-left: 4px solid #363636;
    -webkit-box-shadow: -21px 0px 31px -24px rgba(66, 68, 90, 1);
    -moz-box-shadow: -21px 0px 31px -24px rgba(66, 68, 90, 1);
    box-shadow: -21px 0px 31px -24px rgba(66, 68, 90, 1);
    background-image: url("backgroundArticle.png");
    background-repeat: no-repeat;
    background-size: cover;
}



.ball{
    z-index: 100!important;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: width 1s, height 1s, background-color 1s, font-size 1s, border 0.2s, transform 0.2s, box-shadow 0.2s;
    color: #192734;
    background-color: #e5e5ea;

    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: visible;
    font-size: 17px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;

    -webkit-box-shadow: 0px 0px 19px -5px #e5e5ea;
    -moz-box-shadow: 0px 0px 19px -5px #e5e5ea;
    box-shadow: 0px 0px 19px -5px #e5e5ea;
}
.ball:hover{
    cursor:pointer;
    transform: rotate(12deg)!important;
    /*background-size: 400% 100%;*/
    /*background-image: linear-gradient(148deg, goldenrod, crimson, goldenrod, crimson);*/
    /*animation: animateBg .5s linear infinite;*/

    -webkit-box-shadow: 0px 0px 40px -5px #000000;
    -moz-box-shadow: 0px 0px 40px -5px #000000;
    box-shadow: 0px 0px 40px -5px #000000;
}


.name{
    position: absolute;
    bottom: 4vh;
    right: 0;

    z-index: 10;

    width: calc(var(--bigArticleWidth) + 1vw);
    height: auto;
    padding: 5px 0 5px 0;

    transition-duration: 1s;
    animation: introText 1.2s  ease-out 1;

    /*background-color: #272727;*/
    /*pointer-events:none;*/
    /*user-select: none;*/
    display: flex;
    justify-content: center;
 }
.logoSvg{
    width: 15vw;
    height: auto;

    animation: introSvgSize 1.2s  ease-out 1;
}


.navShadow{
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.0));
    z-index: 4;
}



#fakturownia{
    position: absolute;
    top: calc(40vh);
    left: calc(50vw - 2*75px)
}

#oferta{
    position: absolute;
    top: calc(40vh);
    left: calc(50vw + 0*75px)
}
#irlandia{
    position: absolute;
    top: calc(40vh);
    left: calc(50vw + 2*75px)
}


@media screen and (max-width:740px){
    .ball{
        font-size: 14px;
    }
    .name{
        width: 100vw;
        bottom: 6vh;
        right: 0vw;
        font-size: 7.5vh;
    }
    #article{
        border-radius: 0;
        bottom: 0vh;
        height: 30%;
        width: 100%;
        z-index: 11;
        font-size: calc(1.2vh + 1.1vw);
        padding-right: 2.5vh;
        padding-left: 2.5vh;
        padding-bottom:1vh ;
    }
    @keyframes introText {
        0%{
            position: absolute;
            bottom: 50vh;
            right: 0vw;
            font-size: 0;
        }
        30%{
            bottom: 42.5vh;
            /*right: 0vw;*/
            font-size: 7.50vh;

        }
        55%{
            bottom: 42.5vh;
            /*right: 0vw;*/
            font-size: 7.50vh;

        }
        99%{
            bottom: 6vh;
            right: 0vw;
        }
        100%{

        }
    }

}
@media screen and (max-width:1200px) and (min-width: 550px){
    @keyframes introText {
        0%{

            position: absolute;
            bottom: 50vh;
            right: 50vw;
            font-size: 0;
        }
        30%{

            bottom: 42.5vh;
            right: 42.5vw;
            font-size: 7.50vh;

        }
        55%{
            bottom: 42.5vh;
            right: 42.5vw;
            font-size: 7.50vh;

        }

        100%{

        }
    }
}
