body{
    margin: 0;
    padding: 0;
    position: absolute;
    touch-action: none;
    overflow: hidden;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}

#initialAnimation{
    position: absolute;
    animation:intro 4s linear 1;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}


@keyframes intro {
    0%{
        background-color: rgba(0, 0, 0,1)

    }
    50%{
        background-color: rgba(0, 0, 0,1)

    }
    99%{
        background-color: rgba(0, 0, 0,0);

    }
    100%{
        visibility: hidden;

    }
}

@keyframes introText {
    0%{
        position: absolute;
        bottom: 50vh;
        right: 50vw;
        font-size: 0;
        opacity:0
    }
    30%{
        bottom: 42.5vh;
        right: 38vw;
        font-size: 7.50vw;
        width: auto;
    }
    75%{
        bottom: 42.5vh;
        right: 38vw;
        font-size: 7.50vw;
        width: auto;
        opacity:100%
    }
    99%{
        bottom: 10vh;
        right: 8vw;
    }
    100%{

    }
}

@keyframes animateBg {
    0% {background-position: 0 0;}
    100% { background-position: 87% 0; }
}


a{
    z-index: inherit;
    color: inherit;
    text-decoration: inherit;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 100;
    /*background-color: #d1d3e7;*/
    background-size: 400% 100%;
    animation: animateBg 6s  linear infinite;
    /*background-image: linear-gradient(90deg, #181818, #880d0d, #181818, #880d0d);*/
    background-image: linear-gradient(90deg, #410001, #00062d, #410001, #00062d);
    text-align: center;
}

.ball{
    z-index: 1;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-style: normal;

    transition: width 1s, height 1s, background-color 1s, font-size 1s, border 0.2s, transform 0.2s, box-shadow 0.2s;

    color: #192734;
    background-color: #dadada;

    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    font-size: 17px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;

    -webkit-box-shadow: 0px 0px 19px -5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 19px -5px rgb(255, 255, 255);
    box-shadow: 0px 0px 19px -5px rgb(255, 255, 255);
}
.ball:hover{
    cursor:pointer;
    transform: rotate(12deg)!important;
    /*background-size: 400% 100%;*/
    /*background-image: linear-gradient(148deg, goldenrod, crimson, goldenrod, crimson);*/
    /*animation: animateBg .5s linear infinite;*/

    -webkit-box-shadow: 0px 0px 30px -5px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 30px -5px rgb(255, 255, 255);
    box-shadow: 0px 0px 30px -5px rgb(255, 255, 255);
}


.name{

    position: absolute;

    bottom: 10vh;
    right: 8vw;
    font-size: 7.5vw;
    z-index: 10;
    color: white;
    font-family: fantasy;
    transition-duration: 1s;
    pointer-events:none;
    user-select: none;
    /*background: radial-gradient(rgba(0,0,0,0.7) 10%,  rgba(0,0,0,0) 70%);*/
    text-shadow: 0px 0px 17px #000000;

    animation: introText 1.2s  ease-out 1;
 }



.navShadow{
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100vw;
    height: 20vh;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.5), rgba(0,0,0,0.0));
    z-index: 4;
}



#fakturownia{
    position: absolute;
    top: calc(40vh);
    left: calc(50vw - 2*75px)
}

#oferta{
    position: absolute;
    top: calc(40vh);
    left: calc(50vw + 0*75px)
}
#irlandia{
    position: absolute;
    top: calc(40vh);
    left: calc(50vw + 2*75px)
}
canvas{
     background-color: rgba(0,0,0,0)!important;
     z-index: 3;
 }

@media screen and (max-width:550px){
    .ball{
        font-size: 14px;
    }
    .name{
        width: 100vw;
        bottom: 6vh;
        right: 0vw;
        font-size: 7.5vh;
    }
    @keyframes introText {
        0%{
            position: absolute;
            bottom: 50vh;
            right: 0vw;
            font-size: 0;
        }
        30%{
            bottom: 42.5vh;
            /*right: 0vw;*/
            font-size: 7.50vh;

        }
        55%{
            bottom: 42.5vh;
            /*right: 0vw;*/
            font-size: 7.50vh;

        }
        99%{
            bottom: 6vh;
            right: 0vw;
        }
        100%{

        }
    }

}
@media screen and (max-width:1200px) and (min-width: 550px){
    .name{
        bottom: 6vh;
        right: 4vw;
    }
    @keyframes introText {
        0%{

            position: absolute;
            bottom: 50vh;
            right: 50vw;
            font-size: 0;
        }
        30%{

            bottom: 42.5vh;
            right: 42.5vw;
            font-size: 7.50vh;

        }
        55%{
            bottom: 42.5vh;
            right: 42.5vw;
            font-size: 7.50vh;

        }
        99%{
            bottom: 6vh;
            right: 4vw;
        }
        100%{

        }
    }
}
